MIDlet-Name: @midletName@
MIDlet-Version: @buildVer@
MIDlet-Vendor: BlackBerrySmart
MIDlet-Description: The Smart Way to View Email
MicroEdition-Profile: MIDP-2.0
MicroEdition-Configuration: CLDC-1.1
MIDlet-Jar-URL: @jarName@
MIDlet-Jar-Size: @jarSize@
MIDlet-1: BBSmart,,
RIM-MIDlet-Flags-1: 35